body {
  direction: rtl;
  font-family: "IRANYekan", Tahoma, sans-serif;
  font-weight: 400;
  background: #ebeff3;
  color: $text-color;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

input,
input::placeholder,
button {
  font-family: "IRANYekan", Tahoma, sans-serif;
}

a,
a:visited {
  color: #2c5cc5;
}

.fa-font {
  font-family: "IRANYekan", Tahoma, sans-serif;
}

.en-font {
  font-family: "Roboto", Tahoma, sans-serif;
}

input[type="checkbox"] {
  margin-left: 0.5rem;
}
